@import "tailwindcss";
@theme {
  --font-gasoek: "Gasoek One", "sans-serif";
}

.cursor-cat {
  cursor: url("/sitting.png") 16 16, auto;
}

.cursor-cat-hover:hover {
  cursor: url("/jumping.png") 16 16, auto;
}

.cursor-paw-hover:hover {
  cursor: url("/paw.png") 16 16, auto;
}

.cursor-cat-walking-hover:hover {
  cursor: url("/walking.png") 16 16, auto;
}

body {
  cursor: cell;
}
